.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 1000px;
    background-color: #171415;
    border-radius: 20px 20px 0 0;
    text-transform: uppercase;
    color: white;
}

    .footer .availability {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 300px;
        border-radius: 50px;
        background-color: white;
        color: black;
    }

        .footer .availability .green {
            margin-right: 10px;
            height: 10px;
            aspect-ratio: 1/1;
            border-radius: 20px;
            background-color: green;
        }

    .footer h1 {
        margin: 150px 0 70px 0;
        color: white;
        font-weight: 500;
        font-size: 80px;
    }    

    .footer button {
        padding: 20px 40px;
        margin-bottom: 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 15px;
        transition: 0.3s ease;
    }

    .footer button:hover {
        background-color: transparent;
        color: white;
        border: 2px solid rgb(240, 240, 240);
    }

    .footer .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

        .footer .social-media button {
            background-color: transparent;
            color: white;
            border: transparent;
            width: 300px;
        }