.project-section {
    margin: 60px 40px;
    padding: 50px 40px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: rgb(253, 253, 253);
}

    .project-section .cosmos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        align-items: center;
    }

        .project-section .cosmos .cosmos-image {
            position: relative;
            display: inline-block;
            transition: 0.4 ease;
            cursor: pointer;  
        }

            .project-section .cosmos .cosmos-image .overlay-text {
                display: flex;
                text-align: center;
                align-items: center;
                position: absolute;       
                top: 50%;                 
                left: 50%;                
                transform: translate(-50%, -50%); 
                color: white;
                font-size: 2.2rem;
                font-weight: bold;
                opacity: 0;               
                transition: opacity 0.3s ease;
                pointer-events: none;   
            }

            .project-section .cosmos .cosmos-image:hover .overlay-text {
                opacity: 1;
            }

            .project-section .cosmos .cosmos-image:hover img {
                filter: blur(5px);
            }

            .project-section .cosmos .cosmos-image .cosmos-mockup {
                border-radius: 10px;
                width: 100%;
                max-width: 900px;
                background-color: rgb(27, 27, 27);
                padding: 20px;
            }

        .project-section .cosmos .information h2 {
            font-size: 50px;
            letter-spacing: -0.04em;
        }

        .project-section .cosmos .information .description {
            margin: 30px 0;
            font-size: 1.2rem;
            text-align: justify;
            border-top: 2px solid #212121;
            padding: 10px 0px;
        }

        .project-section .cosmos .information .built {
            margin: 30px 0 0 0;
            font-size: 1.2rem;
            
        }

        .project-section .cosmos .information .tech-used {
            width: 100%;    
            display: flex;
            overflow: hidden;
            border-radius: 2px;
            margin: 10px 0 0 0;
            opacity: 0.8;
        }

             .project-section .cosmos .information .tech-used .tech {
                display: flex;
                align-items: center;
                border-radius: 50px;
                padding: 2px 10px;
            }

                .project-section .cosmos .information .tech-used .tech img {
                    object-fit: contain;
                    width: 30px;
                    aspect-ratio: 1/1;
                }

                .project-section .cosmos .information .tech-used .tech p {
                    color: rgb(85, 85, 85);
                    font-size: 14px;
                    font-weight: 600;
                    margin-left: 2px;
                    /* font-style: italic; */
                }

        .project-section .cosmos .information button {
            margin: 30px 0 0 0;
            padding: 15px 30px;
            border: transparent;
            font-size: 18px;
            background-color: transparent;
            transition: 0.3 ease;
            border-radius: 5px;
            cursor: pointer;
        }  
        
        .project-section .cosmos .information button:hover {
            background-color: #212121;
            color: white;
        } 
